# --- Gradle & Kotlin ---
.gradle/
build/
.kotlin/
.history/
.lh/
bin/

# --- IDE ---
*.iml
.idea/

# --- ANDROID ---
local.properties
*.jks
*.apk
*.aab
*.ap_
*.dex
output.json
output-metadata.json
captures/
.externalNativeBuild/
.cxx/
signing.properties

# --- iOS (Xcode & CocoaPods) ---
iosApp/Pods/
DerivedData/
xcuserdata/
*.moved-aside
*.xcuserstate
*.ipa
*.xcarchive/
*.dSYM/
*.xcresult/

# --- DESKTOP (Compose for Desktop / JVM) ---
*.exe
*.msi
*.dmg
*.pkg
*.deb
*.rpm

*.jar
!/gradle/wrapper/gradle-wrapper.jar
*.jlink

# --- Fastlane generated reports ---
**/fastlane/report.xml
**/fastlane/Preview.html

# --- СЕРТИФИКАТЫ ---
.env
*.p12
*.p8
*.mobileprovision
*.crt
*.pem

# --- СИСТЕМНЫЕ ФАЙЛЫ ---
.DS_Store
Thumbs.db
